main {
    height: 60vh;
    width: 60vw;
    text-align: center;
    background-color: rgb(3, 3, 3);
    border-radius: 2rem;
    margin: 10rem 10rem auto;
    padding: 2rem;
}

.grid-container {
    display: grid;
    background-color: rgb(91, 92, 92);
    margin: 10px;
    padding: 10px;
    color: aliceblue;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.grip-item {
    
    background-color: lightblue;
margin: 10px;
 padding: 20px;
 text-align: center;
}