body {
   background-color: #111;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
  }
  
  main {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
  }
  
  .calculator {
    background: #232136;
    color: #fff;
    width: 350px;
    border-radius: 32px;
    padding: 24px 20px;
    box-shadow: 0 8px 24px #0002;
    display: inline-block;
  }
  
  .display {
    display: flex;
    justify-content: right;
    gap: 20px;
    min-width: 220px;
    margin-bottom: 18px;
    padding: 10px 0 16px 0;
  }

  .display p{
    font-size: 30px;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  .button {
    flex: 1;
    background: #25214d;
    color: #fff;
    border: none;
    margin: 4px;
    font-size: 1.3rem;
    padding: 17px 0;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 8px #0002;
    transition: background 0.2s;
  }
  
  .button:hover {
    background: #444057;
  }
  
  .button.operator {
    background: #6c37be;
    color: #fff;
  }
  
  .button.operator:hover {
    background: #7d4cef;
  }
  
  .button.special {
    background: #a94cd6;
    color: #fff;
  }
  
  .btn.igual {
    background: #7d4cef;
    color: #fff;
  }
  
  .button.igual:hover {
    background: #a94cd6;
  }
  
  .tag {
    margin-top: 34px;
    display: inline-block;
    background: #7d4cef;
    color: #fff;
    padding: 8px 26px;
    border-radius: 28px;
    font-size: 1.1rem;
    letter-spacing: 0.08em;
    font-weight: 600;
  }