* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(48, 48, 48);
}

.fundo {
    display: grid;
    height: 350px;
    background-color: beige;
    margin: 100px;
    grid-template-rows: 9rem;
}

#colorTop {
    background-color: white;
}

#colorBottom {
    background-color: #E0E5EB;
}

.card {
    height: 150px;
    width: 100px;
    background-color: aqua;
}

/* https://nicepage.com/ht/2027493/design-for-leading-html-template */