:root {
    --fonte-principal: "Poppins", sans-serif;
    --espacamento: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    color: white;
    min-height: 100vh;
    text-align: center;
    font-family: var(--fonte-principal);
    padding: var(--espacamento);
    transition: background 0.3s, color 0.3s;
}

.light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1c1c1c1c;
    color: #222;
    min-height: 100vh;
    text-align: center;
    font-family: var(--fonte-principal);
    padding: var(--espacamento);
    transition: background 0.3s, color 0.3s;
}

.btn {
    width: 21.875rem;
    align-self: center;
    margin-top: var(--espacamento);
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    border-radius: .75rem;
    background-color: rgb(68, 4, 68);
    color: white;
    transition: 0.3s;
}

.btn:hover{
    background-color: purple;
}