.livro{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100px;
}

.titulo{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
}

.autor{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
}

.livro img {
    height: 200px;
    width: 100px;
}

.livro.titulo h1 {
    font-size: 20px;

}

.livro.autor p {
    font-size: 20px;
}