.container{
    display: flex;
    margin: .3rem auto;
    justify-content: center;
    align-items: center;
}

.container label {
    font-size: 2rem;
    margin-right: .8rem;
}

.input{
    font-size: 1.5rem;
    border: .2rem solid #ccc;
    border-radius: .6rem;
}