* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    display: grid;
    height: 100vh;
    align-content: end;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    padding: 3.125rem;
    margin: 0 auto;
    background: linear-gradient(white 50%, #E0E5EB 50%);
}

.card-blue,
.card-white {
    height: 31.25rem;
    padding: 1.875rem 1.25rem;
align-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.card-blue {
    background-color: #3375f2;
    color: white;
    margin: 3.75rem 0;
}

.card-white {
    background-color: white;
    margin-top: -3.75rem;
}

.icon {
    width: 7.5rem;
    height: 6.25rem;
    margin-bottom: .9375rem;
}

.title,
.title-blue {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: .9375rem;
}

.title-blue {
    color: #3375f2;
}

.text {
    color: #c2c2c2;
    font-size: 1.25rem;
    margin-bottom: .9375rem;
    font-style: italic;
    line-height: 1.5;
}

.more-white {
    color: #111111;
    padding-bottom: 5px;
    font-size: 1.25rem;
    text-decoration: none;
    border-bottom: .125rem solid #111111 ;
}


.more-blue {
    color: white;
    padding-bottom: 5px;
   font-size: 1.25rem;
   text-decoration: none;
   border-bottom: .125rem solid white ;
}
